.error{
    color: red;
    border: 1px red solid;
}

.success{
    color: green;
    border: 1px green solid;
}

.day10 li{
    list-style: none;
    margin: 20px;
    border: 1px black solid;
    padding: 10px;
    display: inline-block;
}

button{
    margin-left: 20px;
}

.box{
    margin: 100px;
    border: 1px red solid;
    padding: 100px;
}

.popup{
    border: 1px black solid;
    padding: 50px;
    width: 200px;
    display: none;
}

.popup-Btn{
    background: red;
    padding: 10px;
}

.delete{
    cursor: pointer;
}

.todo-container{
    width: 400px;
}

.filtered{
    color: red !important;
}

