
.error{
    color: red;
    border: 1px red solid;
}

.success{
    color: green;
    border: 1px green solid;
}

.day10 li{
    list-style: none;
    margin: 20px;
    border: 1px black solid;
    padding: 10px;
    display: inline-block;
}

button{
    margin-left: 20px;
}

.box{
    margin: 100px;
    border: 1px red solid;
    padding: 100px;
}

.popup{
    border: 1px black solid;
    padding: 50px;
    width: 200px;
    display: none;
}

.popup-Btn{
    background: red;
    padding: 10px;
}

.delete{
    cursor: pointer;
}

.todo-container{
    width: 400px;
}

.filtered{
    color: red !important;
}

@font-face {
    font-family:'clock' ;
    src: url(/clock.otf)format('truetype');
}

body{
    background: #111;
    display: flex;
    justify-content: center;
}

.clock{
    margin-top: 200px;
    padding: 50px;
    width: 40%;
    border-radius: 10px;
    box-shadow: rgba(28, 193, 202, 0.852) 0 0 10px;

}

.glow{
    box-shadow: rgba(21, 231, 242, 0.967) 0 0 20px;
}

span{
    font-size: 100px;
    font-family: 'clock', sans-serif;
    color: aquamarine;
}

