@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
.error{
    color: red;
    border: 1px red solid;
}

.success{
    color: green;
    border: 1px green solid;
}

.day10 li{
    list-style: none;
    margin: 20px;
    border: 1px black solid;
    padding: 10px;
    display: inline-block;
}

button{
    margin-left: 20px;
}

.box{
    margin: 100px;
    border: 1px red solid;
    padding: 100px;
}

.popup{
    border: 1px black solid;
    padding: 50px;
    width: 200px;
    display: none;
}

.popup-Btn{
    background: red;
    padding: 10px;
}

.delete{
    cursor: pointer;
}

.todo-container{
    width: 400px;
}

.filtered{
    color: red !important;
}

@font-face {
    font-family:'clock' ;
    src: url(/clock.otf)format('truetype');
}

body{
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(232, 125, 230);
    font-family: 'Poppins';
}

.clock{
    margin-top: 100px;
    padding: 50px;
    width: 40%;
    border: 1px rgb(233, 151, 243) solid;
    border-radius: 10px;
    animation-name: glow;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

span{
    font-size: 100px;
    font-family: 'clock', sans-serif;
    color: rgb(232, 125, 230);
}

@keyframes glow{
    from{box-shadow: rgba(159, 71, 193, 0.852) 0 0 10px;
    }
    to{box-shadow: rgba(148, 61, 183, 0.852) 0 0 100px;
    }
}

